/* Global style */
body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

/* Heading style */
.heading {
    text-align: center;
    font-size: 2.5rem;
}

/* Logo style */

.logo {
    height: 40px;
    padding-right: 5px;
}