/* Global style */
body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

/* Heading style */
.heading {
    text-align: center;
    font-size: 2.5rem;
}

/* Logo style */

.logo {
    height: 40px;
    padding-right: 5px;
}

/* Style game layout */
.game-area {
    background-color: #e6ecf0;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}