/* Global style */
body {
    background-color: white;
    font-family: "Raleway", sans-serif;
    color: #445361;
    text-align: center;
}

/* Heading style */
.heading {
    text-align: center;
    font-size: 2.5rem;
}

/* Logo style */

.logo {
    height: 40px;
    padding-right: 5px;
}

/* Style game layout */
/* Game area style */
.game-area {
    background-color: #e6ecf0;
    box-sizing: border-box;
    width: 85%;
    height: 65vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Question area style */
.question-area {
    width: 50%;
    font-size: 2rem;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.question-area span {
    padding: 0 15px;
}

/* Style for score area */
.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

/* Style for controls area */

.controls-area {
    width: 85%;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
}